.cotainer-profile {
    display: flex;
    width: 100%;
    flex-direction: column;
}
.button-logout button{
    background-color: #d77599;
    border: 1px solid #d77599;
    text-transform: uppercase;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    width: 200px;
    height: 40px;
}
.container-inf-reports {
    display: flex;
    flex-direction: row;
    margin: 30px;
}